/* Burgers.module.css */
.burgerLabel {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;

  transform: rotate(180deg);
}

.burgerSpan {
  border-radius: 999999px;
  height: 4px;
  margin: 4px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burgerSpan:nth-of-type(1) {
  width: 50%;
}

.burgerSpan:nth-of-type(2) {
  width: 95%;
}

.burgerSpan:nth-of-type(3) {
  width: 75%;
}

.hiddenCheckbox {
  display: none;
}

.checkedSpan1 {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(6px, 1px);
}

.checkedSpan2 {
  transform-origin: top;
  transform: rotateZ(-46deg);
}

.checkedSpan3 {
  transform-origin: bottom;
  width: 50%;
  transform: translate(7px, -10px) rotateZ(47deg);
}

