@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.lightBg {
  background-color: #faf9f6;
}
.bold {
  font-weight: 600;
}
:root {
  --background: #faf9f6;
  --foreground: #151515;
  --font-inter: "Inter", sans-serif;
}
.blackText {
  color: #1f1e1e;
}
.blackBg {
  background-color: #151515;
}
.hoverBg:hover {
  background-color: #3a3a3a;
}
.hoverText:hover {
  color: #3d3d3d;
}
.whiteText {
  color: #faf9f6;
}
.whiteBg {
  background-color: #faf9f6;
}
.inter {
  font-family: var(--font-inter);
  font-weight: var(--font-weight);
}
.grayText {
  color: #757575;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf9f6;
    --foreground: #151515;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  font-weight: 500;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
h1 {
  letter-spacing: -0.05em;
}
.transition3 {
  transition: all 0.3s;
}
.shrinkAnimation:hover {
  transform: scale(0.99);
}

/*FOR DATE*/


