@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.lightBg {
  background-color: #f3f4f6;
}
.lightText {
  color: #e4e2e2;
}

:root {
  --background: #1f1e1e;
  --foreground: #faf9f6;
  --font-inter: "Inter", sans-serif;
}
.bold {
  font-weight: 700;
}
.mediumBold {
  font-weight: 600;
}
.blackText {
  color: #1f1e1e;
}
.blackBg {
  background-color: #141414;
}
.hoverBg:hover {
  background-color: #3a3a3a;
}
.hoverText:hover {
  color: #3d3d3d;
}
.whiteText {
  color: #faf9f6;
}
.whiteBg {
  background-color: #faf9f6;
}
.inter {
  font-family: var(--font-inter);
  font-weight: var(--font-weight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
